[run]
branch = True
source = ./src
data_file = src/dreamrich/management/coverage_data
omit =
    manage.py,
    */settings.py,
    */wsgi.py,
    */__init__.py,
	*/migrations/*
    */tests.py

[report]
fail_under = 70
precision = 2
exclude_lines =
    raise AssertionError,
    raise NotImplementedError

[html]
directory = src/dreamrich/management/coverage_html
title = "Cobertura de testes - DreamRich"
