[run]
branch = True
source = ./src
omit =
    manage.py,
    */settings.py,
    */wsgi.py,
    */__init__.py,
	*/migrations/*
    */tests.py

[report]
fail_under = 70
precision = 2
exclude_lines =
    raise AssertionError,
    raise NotImplementedError
