[MESSAGES CONTROL]
disable=missing-docstring, too-few-public-methods, too-many-ancestors

[BASIC]

# The acceptable names of methods regex
method-rgx=[a-z_][a-z0-9_]{2,55}$

[MASTER]
load-plugins=pylint_django
ignore=wsgi.py,manage.py,migrations,settings.py
